.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 90px;
  background: #1c232a;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;

  &__check {
    margin-right: 20px;
    flex: 10%;

    img {
      width: 35px;
    }
  }

  &__info {
    flex: 80%;
  }

  &__title {
    color: #FFF;
    font-weight: normal;
  }

  &__basket {
    color: #65a8ff;
    text-decoration: none;
  }

  &__close {
    flex: 10%;

    img {
      width: 30px;
    }
  }
}
